@page
@model Sujith_Web_Invent_Fashion.Pages.FemaleModel
@{
}

<div class="text-center">
    <h1 class="display-4">Women's Fashion</h1>
    <p>This page will have women's type of dresses to select</p>
    <br />
    <br />
    <br />
    <br />
</div>