@page
@model Sujith_Web_Invent_Fashion.Pages.MaleModel
@{
}

<div class="text-center">
    <h1 class="display-4">Men's Fashion</h1>
    <p>This page will have men's type of dresses to select</p>
    <br />
    <br />
    <br />
    <br />
</div>